body {
  background: url(//avatanplus.com/files/resources/original/5ba0e2f6f391e165ec7694d6.jpg);
  color: #600;
}
.header__title {
    text-align: center;
    text-shadow: 1px 2px 5px #333;
 }
 .header__text, .section__article_text, .footer__text  {
   text-indent: 30px;
 }
 .header__text {
   font-style: italic;
   text-align: center;
 }
 .header__btn, .section__article_btn, .footer__btn {
  background: #ffc; 
  border: 1px solid #930;
  border-radius: 3px;
  box-shadow: 0 -1px #cc9;
  cursor: pointer;
 }
.section__article_text {
  font-size: 20px;
}
.section__article_text::first-letter {
  font-size: 150%;
 font-style: italic;
 color: #c33;
}
.footer {
 font-size: 15px; 
 }
.footer__text {
  font-style: italic;
}